html {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: beige;
    display: flex;
    flex-direction: column;
    max-width: 44em;
    min-width: 40em;
    border: 2px solid gray;
}

.display-container {
    height: 6em;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.display-history,
.display-main {
    text-align: right;
    font-size: large;
    flex: 0 0 1.5em;
    font-size: 1.5em;
}

.display-main {
    font-size: 2em;
    font-weight: 800;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
}

.button {
    flex: 1 0 11.5em;
    height: 8em;
}