* {
    border: 1px dashed #66ff66;
}

body {
    width: 40em;
    display: flex;
    flex-direction: column;
}

.display-container {
    height: 4em;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
}

.button {
    flex: 0 0 11.5em;
    height: 4em;
}